*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}
.toolbox-priority-cont{
  height: 3.5rem;
  width: 18rem;
  background-color: #445e7a66;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toolbox-priority-cont > *:hover {
  background-color: #f9f9f9;
}

.toolbox-cont{
  height: 5rem;
  background-color: #00464a;
  display: flex;
  align-items: center;
}

.toolbox-cont > *{
  margin-left: 4rem;
}

.color-box{
  height: 1.5rem;
  width: 3rem;
}

.lightpink{
  background-color: lightpink;
}

.lightblue{
  background-color: lightblue;
}

.lightgreen{
  background-color: lightgreen;
}

.black{
  background-color: black;
}

.action-btn-cont{
  width: 8rem;
  height: 3.5rem;
  background-color: #445e7a66;
  display: flex;
}

.action-btn-cont > * {
  display: flex;
  font-size: 2.5rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}


.add-btn:hover, .remove-btn:hover{
  background-color: #ffffffe6;
  font-size: 3.5rem;
}

.add-btn{
  color: green;
}

.remove-btn{
  color: red;
}

.main-cont{
  gap: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.task-ticket{
  height: 12rem;
  width: 15rem;
  background-color: rgba(147, 76, 21, 0.598);

}

.ticket-color{
  height: 1rem;
}

.ticket-id {
  background-color: yellow;
  height: 2rem;
}

.ticket-lock{
  color: rgb(0, 0, 0);
  display: flex;
  /* align-items: end; */
  justify-content: flex-end;
  margin-top: 90px;
  font-size: 1.5rem;
  margin-right: 5px;
}

.modal-cont{
  height: 50vh;
  width: 45vw;
  display: flex;
  background-color: gray;
  display: flex;
  position: absolute;
  top: 30%;
  left: 27%;
}

 .textArea-cont{
  height: 100%;
  width: 75%;
  resize: none;
  outline: none;
  border: none;
  font-size: 2rem;
  color: rgb(8, 1, 1);
}
textarea{
  background-color: palegoldenrod;
}
.priority-colors-container{
  height: 100%;
  width: 25%;
  background-color: rgb(205, 111, 111);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.priority-color{
  height: 3rem;
  width: 5rem;
}

.active{
  border: 5px solid cornsilk;
}
